RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]

# Enable error logging
php_flag log_errors On
php_value error_log /home/u197006476/domains/eugeniustan.co.uk/php_errors.log